@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;

  @apply flex flex-col items-center;
  @apply bg-zinc-950 text-gray-200;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  @apply w-full max-w-screen-lg;
}
